/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 3rem;
  height: 2rem;
  left: 1rem;
  top: 1rem;

}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

.bm-menu {
  background: #f4f5f6;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 2.5rem;
  width: 2.5rem;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #9b4dca;
}

/* Wrapper for item list */
.bm-item-list {
  padding: 3rem;

  a {
    padding: 1.5rem;
  }
}

.bm-menu-wrap {
  width: 50% !important;
}
