<!DOCTYPE html>
<html>
  <head>
    <title>EmoSensor</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <%= yield %>
    <%= javascript_include_tag '/bundle' %>
  </body>
</html>
